		body {
			font-family: "Helvetica","Arial",serif;
			color: #333;
			background-color: #ccc;
			margin :1em 10%;
			float: left;
		}
		h1  {
			color: #333;
			background-color: transparent;
		}
		
		a  {
			color: #c60;
			background-color: transparent;
			font-weight: bold;
			text-decoration:none;
		}
		ul {
			padding: 0;
		}
		li {float: left;
			padding: 1em;
			list-style: none;

		}
		li img {
			display: block;
			clear: both;
			width: 60px;
			height: 60px;

		}
		#zxcv {
			list-style: none;
		}
		#zxcv li {
			display: inline;
		}
		#zxcv li a img {
			border: 0;

		}
